
<% include partials/header %>
<div class="ui very padded text container segment" id="home" >
	<h1><span><i class="user icon"></i></span>Register As </h1>
	<div id="buttons">
		<p>
		<a href="/home/admin" class="ui primary large button">Admin</a>	
		</p>
		<p>
		<a href="/home/form" class="ui primary large button">Student</a>
		</p>
	</div>
</div>

<% include partials/footer %>